body {
    background-color: rgb(247, 247, 236);
}

.link {
    text-decoration: none;
}
.text {
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}
#name {
    margin-bottom: 23px;
    margin-top: 0;
    font-size: 35px;
    color:rgb(23, 94, 23)
}

h1 {
    margin-bottom: 7px;
    font-size: 50px;
    color:rgb(23, 94, 23)
}

.header {
    padding-left: 20px;
    font-weight: bold;
}

#img1 {
    width: 500px;
    height: 500px;
    padding-left: 20px;
    margin-top: 30px;
}

#img2 {
    width: 500px;
    height: 500px;
    padding-left: 50px;
    margin-top: 30px;
}
